* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.killMessage {
  display: none;
  color: blue;
  background-color: cornsilk;
  border-radius: 70px;
  position: absolute;
  margin: 25px;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 2px solid black;
}

body {
  width: 100%;
}
.overlap {
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 100%;
  height: 10%;
  font-size: 34px;
  text-align: center;
}

.smaller {
  width: 40%;
  margin: 0 auto;
  padding-top: 20%;
  text-align: center;
}

.fs-field-label {
  font-size: 44px;
  display: block;
}
